*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
html{
  scroll-behavior: smooth;
 }
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.75),rgba(4,9,30,0.3)),url(images/uni.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  padding: 2% 2%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width:40%;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size:25px;
}
.nav-links ul li::after{
  content: "";
  width: 0%;
  height: 3px;
  background: #59C4BE;
  display: block;
  margin: auto;
  transition:0.4s;
}
.nav-links ul li:hover:after{
  width: 100%;
}
body {
  overflow-x: hidden;
}
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 45%;
  left 50%;
  transform: translate(7%,-40%);
  text-align: center;
}
.text-box h1{
  font-size: 400%;
  font-weight: 600;
}
.text-box p{
  margin: 10px 0 25px;
  font-size:25px;
  color:#fff
}
.about-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #59C4BE;
  border-radius: 10px;
  background-color: #59C4BE;
  padding: 12px 34px;
  font-size: 150%;
  position: relative;
  cursor: pointer;
  transition: 0.8s;
}
.about-btn:hover{
  border: 1px solid #21A19A;
  background: #21A19A;
  opacity: 0.5;
  transition: 0.8s;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 10px;
}
.twitter{
  color: #00acee;
  font-size: 40px;
  width: 150px;
  text-decoration: none;
  padding: 10px;
  position: relative;
  top: 25px;
  transition: 0.8s;
}
.twitter:hover{
    color: #0078a6;
    font-size: 30px;
    width: 150px;
    transition: 0.8s;
}
.linkedin{
  color: #0072b1;
  font-size: 40px;
  text-decoration: none;
  padding: 10px;
  position: relative;
  top: 25px;
  transition: 0.8s;
}
.linkedin:hover{
  color: #004f7b;
  font-size: 30px;
  transition: 0.8s;
}
.youtube{
    color: #FF0000;
    font-size: 40px;
    width: 150px;
    text-decoration: none;
    padding: 10px;
    position: relative;
    top: 25px;
    transition: 0.8s;
}
.youtube:hover{
    color: #b20000;
    font-size: 30px;
    width: 150px;
    transition: 0.8s;
}
.outlook{
    color: #ffc000;
    font-size: 40px;
    width: 150px;
    transition: 0.8s;
    text-decoration: none;
    padding: 10px;
    position: relative;
    top: 25px;
}
.outlook:hover{
    color: #b28600;
    font-size: 30px;
    width: 150px;
    transition: 0.8s;
}
.github{
    color: #171515;
    font-size: 40px;
    width: 150px;
    transition: 0.8s;
    text-decoration: none;
    padding: 10px;
    position: relative;
    top: 25px;
}
.github:hover{
    color: #2e2c2c;
    font-size: 30px;
    width: 150px;
    transition: 0.8s;
}
.About-me{
  width: 60%;
  margin: auto;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 3%;
}
h1{
  font-size: 200%;
  font-weight: 600;
  line-height: 50px;
  padding: 10px;
}
p{
  font-size: 120%;
  margin-top: 1.3%;
}
.Experience{
  width: 100%;
}
.Experienceheader h2{
  color: #59C4BE;
  font-size: 140%;
  margin-bottom: 3%;
}
.FLFP{
  margin-left: 10%;
  width: 35%;
}
.FLF{
  margin-right: 10%;
  margin-left: 2%;
  width: 40%;
  display: inline-block;
  text-decoration: none;
  background-color: #59C4BE;
  position: relative;
}
.FLF p{
  color: #fff;
  padding-top: 1%;
  padding-left: 2%;
  padding-bottom: 2%
}
.FLF h2{
  color: #fff;
  padding-top: 2%;
  padding-left: 1.2%;
  font-size: 180%;
}
.FLF h3{
  color: #fff;
  padding-top: 2%;
  padding-left: 1.2%;
  font-size: 140%;
}
.FLF h4{
  color: #fff;
  padding-left: 1.2%;
  font-size: 120%;
}
.ME18{
  margin-top: 5%;
  margin-left: 10%;
  width: 35%;
}
.ME{
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 2%;
  width: 40%;
  display: inline-block;
  text-decoration: none;
  background-color: #59C4BE;
  position: relative;
}
.ME p{
  color: #fff;
  padding-left: 2%;
  padding-bottom: 2%
}
.ME h2{
  color: #fff;
  padding-top: 2%;
  padding-left: 1.2%;
  font-size: 180%;
}
.ME h3{
  color: #fff;
  padding-top: 2%;
  padding-left: 1.2%;
  font-size: 140%;
}
.ME h4{
  color: #fff;
  padding-left: 1.2%;
  font-size: 120%;
}
.Watersideheights{
  margin-left: 10%;
  width: 35%;
  margin-top: 5%;
}
.PDR{
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 2%;
  width: 40%;
  display: inline-block;
  text-decoration: none;
  background-color: #59C4BE;
  position: relative;
}
.PDR p{
  color: #fff;
  padding-left: 2%;
  padding-bottom: 2%
}
.PDR h2{
  color: #fff;
  padding-top: 2%;
  padding-left: 1.2%;
  font-size: 180%;
}
.PDR h3{
  color: #fff;
  padding-top: 2%;
  padding-left: 1.2%;
  font-size: 140%;
}
.PDR h4{
  color: #fff;
  padding-left: 1.2%;
  font-size: 120%;
}
.Projects{
  width: 100%;
  margin-top: 4%;
}
.Projectsheader h2{
  color: #59C4BE;
  font-size: 140%;
  margin-bottom: 2%;
}

.image-grid{
--gap: 3%;
--num-cols: 4;
--row-height: 30%;
margin-left: 5%;
margin-right: 5%;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}
.photo-gallery{
  display: flex;
  gap: 4%;
  margin-left: 10%;
  margin-right: 10%;
}
.column{
  display: flex;
  flex-direction: column;
  gap: 3%;
}
.photo img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
